
ask for images

reduce delay time

fix menu select page
    
contanct us page and queries

merge events testamnonals and services

change nav bar

combine menu and booking database

fix password in login page

show booking id when saved in bookingpage 

fix the nav bar of all adminPages


