change phone to password

ask for images                                                     done

reduce delay time

fix menu select page


merge events testamnonals and services                           done

change nav bar

every booking send email

show booking id when saved in bookingpage 


make adimn login.
    login page redirects to admin login                          -------- done
        which shows custBookdata                                 -------- done
            each new entry has confirm & not confirm button      -------- done
                confirm ---- email notification
