change phone to password

reduce delay time

fix menu page
    script does not work

contanct us page and queries

merge events testamnonals and services


make adimn login.
    login page redirects to admin login 
        which shows custBookdata
            each new entry has confirm & not confirm button
                confirm ---- email notification
